.root {
  position: relative;
  height: 100%;
  background-color: #efefef;

  > c-dummy {
    position: absolute;
    visibility: hidden;

    > span {
      display: inline;
    }
  }

  > c-editor-root {
    position: absolute;
    background-color: white;
    left: 20px;
    top: 20px;
    right: 20px;
    bottom: 20px;
    overflow: auto;

    > c-editor-wrapper {
      display: flex;
      min-height: 100%;

      > c-line-number {
        width: 45px;
        padding-right: 5px;
        text-align: right;
        color: lightgray;
        font-size: 10px;
        background-color: darkgray;
      }

      > c-editor-content {
        position: relative;
        margin: 0 5px;
        overflow-x: auto;
        flex: 1;
        min-height: 100%;
        padding-bottom: 200px;

        > c-line {
          white-space: nowrap;

          * {
            display: inline-block;
          }

          c-enter {
            color: lightgray;
          }
        }
      }
    }
  }
}

@keyframes focuspointer {
  0% { border-left: 3px solid blue; }
  100% { border-left: 3px solid darkgray; }
}

.hiddenInput {
  position: absolute;
  outline: none;
  border: none;
  appearance: none;
  background-color: rgba(200, 200, 200, 0.5);
  color: transparent;
}

.hiddenInput[data-is-focus=true] {
  animation: focuspointer .8s infinite;
}
