.root {
  line-height: 21px;
  cursor: default;
  font-family: Menlo, Consolas, 'DejaVu Sans Mono', monospace;
  position: relative;
  min-height: 100%;
  min-width: 100%;
  display: inline-block;
  background-color: rgb(40, 44, 52);
  color: rgb(171, 178, 191);
  box-sizing: border-box;
  user-select: none;

  * {
    display: block;
    box-sizing: border-box;
    user-select: none;
  }

  > u-dummy {
    position: absolute;
    visibility: hidden;

    > span {
      display: inline;
    }
  }

  > u-line {
    white-space: nowrap;

    * {
      display: inline-block;
    }

    u-space,
    u-enter {
      color: rgb(59, 64, 72);
    }
  }
}

@keyframes focuspointer {
  0% { border-left: 2px solid transparent; }
  100% { border-left: 2px solid rgb(82, 139, 255); }
}

.hiddenInput {
  width: 0;
  line-height: 21px;
  position: absolute;
  outline: none;
  border: none;
  appearance: none;
  background-color: transparent;
  color: transparent;
}

.hiddenInput:focus {
  animation: focuspointer .7s infinite;
}
