.root {
  line-height: 21px;
  cursor: default;
  font-family: Menlo, Consolas, 'DejaVu Sans Mono', monospace;
  position: relative;
  height: 100%;
  width: 100%;
  display: block;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: rgb(40, 44, 52);
  color: rgb(171, 178, 191);
  box-sizing: border-box;
  user-select: none;
  &::-webkit-scrollbar {
    width: 2px;
  }
  &::-webkit-scrollbar-track {
    background: #eee;
  }
  &::-webkit-scrollbar-thumb {
    background: red;
  }

  * {
    display: block;
    box-sizing: border-box;
    user-select: none;
  }

  > u-line-numbers {
    padding-bottom: 128px;
    border-right: 1px solid rgb(60, 64, 73);
    position: absolute;
    left: 0;
    top: 0;
    width: 50px;
    min-height: 100%;
  }

  > u-editor-wrapper {
    position: absolute;
    left: 50px;
    top: 0;
    right: 0;
    min-height: 100%;
    overflow-x: auto;
    overflow-y: visible;
    &::-webkit-scrollbar {
      display: none;
    }

    > u-editor-area {
      display: inline-block;
      position: relative;
      min-height: 100%;
      min-width: 100%;

      > u-dummy {
        position: absolute;
        visibility: hidden;

        > span {
          display: inline;
        }
      }

      > u-line {
        white-space: nowrap;

        * {
          display: inline-block;
        }

        u-space,
        u-enter {
          color: rgb(59, 64, 72);
        }

        &[data-active=true] {
          background: rgb(44, 50, 60);
        }
      }
    }
  }
}

@keyframes focuspointer {
  0% { border-left: 2px solid transparent; }
  100% { border-left: 2px solid rgb(82, 139, 255); }
}

.hiddenInput {
  width: 0;
  line-height: 21px;
  position: absolute;
  outline: none;
  border: none;
  appearance: none;
  background-color: transparent;
  color: transparent;
}

.hiddenInput:focus {
  animation: focuspointer .7s infinite;
}
